.speech {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: black;
    background-color: rgb(207, 233, 255);
}

.direction:hover {
    color: rgb(56, 235, 56);
    background-color: rgb(232, 154, 101);
}

.nora {
    color: rgb(183, 183, 14);
}

.nora:hover {
    text-shadow:1px 1px 1px black;
    border: 2px solid #e74c3c;
}

.rank {
    color: rgb(13, 124, 220);
}

.rank:hover {
    text-shadow:  1px 1px 1px #000;
    border: 2px solid #d923a2;
}

.helmer {
    color: rgb(222, 45, 45);
}

.helmer:hover {
    text-shadow:  1px 1px 1px #000;
    border: 2px solid #1ccc36;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,
td {
    border: 1px solid #f22e2e;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: rgb(61, 45, 236);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color:rgb(137, 172, 241)
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    }
    /* on hover change the link color*/
    ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
    }
    